.board-select {
  margin: 36px auto 6px;
}

select {
  background-color: #faedca;
  border: 1px solid #1d3354;
  border-radius: 10px;
  display: block;
  font-size: 18px;
  padding: 6px 12px;
  margin: 6px auto;
}

label {
  color: #faedca;
  font-size: 16px;
}
