.grid {
  border: 1px solid #faedca;
  border-radius: 5px;
  font-size: calc(100vw / 20);
  display: inline-block;
  justify-content: center;
  vertical-align: top;
  padding-top: calc(100vw / 75);
  height: calc(100vw / 15);
  width: calc(100vw / 15);
  margin: 1px;
}

.small-grid {
  font-size: calc(100vw / 40);
  height: calc(100vw / 25);
  width: calc(100vw / 25);
}

.red {
  color: #fb6376;
}

.green {
  color: #7ebc89;
}
