.grid {
  border: 1px solid black;
  border-radius: 0;
  font-size: 32px;
  display: inline-block;
  justify-content: center;
  vertical-align: top;
  padding-top: 4px;
  height: 44px;
  width: 48px;
}
