.board {
  font-size: 0;
}

.status {
  background-color: #faedca;
  border: none;
  border-radius: 5px;
  color: #1d3354;
  font-size: 16px;
  width: 50vw;
  margin: 36px auto 6px;
  padding: 6px 0;
}

.red-win {
  background-color: #fb6376;
  color: #faedca;
}

.green-win {
  background-color: #7ebc89;
  color: #faedca;
}

@media all and (min-width: 480px) {
  .status {
    width: 24vw;
  }
}
